.header-component {
  background-color: rgba(0, 0, 0, 0.2);
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.logo {
  height: 12vh;
  grid-column: 3/4;
}

.header-title {
  color: #f65c78;
  grid-column: 2/3;
  font-size: 3em;
}
