.search-component * {
  margin: auto;
}

.search-component {
  background-color: rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(8vh, auto);
}

.search-label-wrapper {
  display: grid;
}

.searchPhrase {
  font-size: 2em;
  color: #c3f584;
}

.searchPhrase-input {
  border: 2px solid #c3f584;
  border-radius: 1em;
  margin-top: 1em;
  text-align: center;
  outline: none;
}

.search-preference-wrapper {
  display: grid;
  margin: 0;
}

#rg-label {
  font-size: 2em;
  color: #c3f584;
}

.preference-radio-wrapper {
  margin: 0;
  display: flex;
  justify-content: space-between;
  color: #ffd271;
  font-size: 1.25em;
}

.search-buttons-wrapper {
  display: flex;
  margin: 0;
}

.search-buttons-wrapper button {
  font-size: 1.25em;
  box-shadow: inset 0px 0px 15px 3px #23395e;
  padding: 0.5em;
  border-radius: 1.2em;
  border: 1px solid #1f2f47;
}

.search {
  background-color: #c3f584;
}

.random {
  background-color: #f65c78;
}

.search:hover {
  box-shadow: 0px 0px 15px 3px #ffffff;
}

.random:hover {
  box-shadow: 0px 0px 15px 3px #ffffff;
}

@media screen and (max-width: 1540px) {
  .search-component {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 1090px) {
  .search-component {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .search-label-wrapper {
    grid-area: 1/1/2/2;
  }

  .search-preference-wrapper {
    grid-area: 2/1/3/2;
  }

  .search-buttons-wrapper {
    grid-area: 1/2/3/3;
  }
}

@media screen and (max-width: 800px) {
  .search-component {
    font-size: 0.65em;
  }
}

@media screen and (max-width: 550px) {
  .search-component {
    grid-template-columns: 1fr;
  }
  .search-label-wrapper {
    grid-area: 1/1/2/2;
  }

  .search-preference-wrapper {
    grid-area: 2/1/3/2;
  }

  .search-buttons-wrapper {
    grid-area: 3/1/4/2;
  }
}
