@font-face {
  font-family: Beon;
  src: url('./beon.medium.ttf');
}

@font-face {
  font-family: Automani;
  src: url('AUTOMANI.TTF');
}

h1 {
  font-family: Automani;
}

body {
  margin: 0;
  font-family: Beon;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
